body{
    background-color: #0E1764;
    text-transform: uppercase;
    font-family: sans-serif;
}

h1{
    color: white;
}

#value{
    font-size: 30px;
    font-weight: 900;
    color: white;
}

.button-container{
    color: white;
    font-size: 16px;
}

.increase{
    background-color: violet;
    border-radius: 3px;
    border: 2px solid gold;
}

.container{
    margin-left: 450px;
    margin-top: 400px;
    width: 50%;
    padding: 10px;
    text-align: center;
}